/ about.html.haml
-@title = "About littleSTEM"
%h1 About littleSTEM Books
%h2 littleSTEM Books does one thing: We make books that show girls as the main characters in science and technology-related stories
